In [57]:
import pandas as pd             # data package
import matplotlib.pyplot as plt # graphics 
import datetime as dt
import numpy as np
import os

import requests, io             # internet and input tools  
import zipfile as zf            # zip file tools 
import os  

#import weightedcalcs as wc
#import numpy as np

import pyarrow as pa
import pyarrow.parquet as pq

In [58]:
# bring in the data

df = pd.read_csv("./UNIDO-data/data.csv")

df = df[["Year", "Country", "CountryCode", "Activity", "ValueUSD"]]

df = df.rename(columns={"ValueUSD": "Value"})

out_file = "./UNIDO-data/UNIDO-grossoutput-data.parquet"

pq.write_table(pa.Table.from_pandas(df), out_file)

In [59]:
year = 2004

dfyear = df[df["Year"] == year].copy(deep = True)

In [60]:
dfyear.sort_values(by = ["Value"], ascending = False, inplace = True)

dfyear.head(40)

dfyear.loc[dfyear["Country"] == "Belgium", "Value"] = dfyear.loc[dfyear["Country"] == "Belgium", "Value"].iloc[0] + dfyear.loc[dfyear["Country"] == "Netherlands", "Value"].iloc[0]

In [61]:
dfyear.head(40)

,Year,Country,CountryCode,Activity,Value
2547,2004,United States of America,840,Total manufacturing,4.306647e+12
1148,2004,Japan,392,Total manufacturing,2.624145e+12
424,2004,China,156,Total manufacturing,2.243090e+12
893,2004,Germany,276,Total manufacturing,1.753735e+12
846,2004,France,250,Total manufacturing,1.065398e+12
1125,2004,Italy,380,Total manufacturing,1.032121e+12
2504,2004,United Kingdom,826,Total manufacturing,7.827346e+11
1983,2004,Republic of Korea,410,Total manufacturing,6.934382e+11
2239,2004,Spain,724,Total manufacturing,5.310057e+11
394,2004,Canada,124,Total manufacturing,4.486510e+11
493,2004,"China, Taiwan Province",158,Total manufacturing,3.751478e+11
305,2004,Brazil,76,Total manufacturing,3.695244e+11
993,2004,India,356,Total manufacturing,3.576202e+11
2052,2004,Russian Federation,643,Total manufacturing,2.854679e+11
1623,2004,Netherlands,528,Total manufacturing,2.697111e+11
218,2004,Belgium,56,Total manufacturing,5.055104e+11
108,2004,Australia,36,Total manufacturing,2.356209e+11
1502,2004,Mexico,484,Total manufacturing,2.242546e+11
2311,2004,Sweden,752,Total manufacturing,2.016133e+11
2433,2004,TÃ¼rkiye,792,Total manufacturing,2.001565e+11
2334,2004,Switzerland,756,Total manufacturing,1.735309e+11
2382,2004,Thailand,764,Total manufacturing,1.679359e+11
1906,2004,Poland,616,Total manufacturing,1.665636e+11
1423,2004,Malaysia,458,Total manufacturing,1.583682e+11
2216,2004,South Africa,710,Total manufacturing,1.498087e+11
131,2004,Austria,40,Total manufacturing,1.460252e+11
1079,2004,Ireland,372,Total manufacturing,1.268881e+11
820,2004,Finland,246,Total manufacturing,1.197109e+11
2147,2004,Singapore,702,Total manufacturing,1.133789e+11
1016,2004,Indonesia,360,Total manufacturing,1.102990e+11
641,2004,Czechia,203,Total manufacturing,1.026348e+11
62,2004,Argentina,32,Total manufacturing,9.861172e+10
664,2004,Denmark,208,Total manufacturing,8.858040e+10
1929,2004,Portugal,620,Total manufacturing,8.671501e+10
955,2004,Hungary,348,Total manufacturing,7.704491e+10
1952,2004,Puerto Rico,630,Total manufacturing,7.550350e+10
1741,2004,Norway,578,Total manufacturing,7.147635e+10
2461,2004,Ukraine,804,Total manufacturing,5.757802e+10
1039,2004,Iran (Islamic Republic of),364,Total manufacturing,5.651772e+10
932,2004,Greece,300,Total manufacturing,5.458254e+10

In [62]:
# List of country codes
cntry_names = ['AUS', 'AUT', 'BEL', 'BRA', 'CAN', 'CHN', 'COL', 'DNK', 'FIN', 'FRA', 'DEU',
               'GRC', 'IND', 'IDN', 'IRL', 'ITA', 'JPN', 'KOR', 'MEX', 'NOR', 'POL', 'PRT',
               'RUS', 'ESP', 'SWE', 'CHE', 'THA', 'TUR', 'GBR', 'USA']

# List of country names
country_names = ['Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'China', 'Colombia', 'Denmark', 'Finland', 'France', 'Germany',
                 'Greece', 'India', 'Indonesia', 'Ireland', 'Italy', 'Japan', 'Republic of Korea', 'Mexico', 'Norway', 'Poland', 'Portugal',
                 'Russian Federation', 'Spain', 'Sweden', 'Switzerland', 'Thailand', 'TÃ¼rkiye', 'United Kingdom', 'United States of America']

# Create a dictionary mapping country names to codes
country_code_map = dict(zip(country_names, cntry_names))

# Filter the dataframe based on the country names
filtered_df = dfyear[dfyear['Country'].isin(country_names)].copy()

# Add a new column with the ISO codes
filtered_df['ISO_Code'] = filtered_df['Country'].map(country_code_map)

# # Save the filtered dataframe to a new file
# filtered_out_file = "./UNIDO-data/filtered-grossoutput-data.parquet"

# pq.write_table(pa.Table.from_pandas(filtered_df), filtered_out_file)

# # Display the first few rows of the filtered dataframe
filtered_df.head(30)

,Year,Country,CountryCode,Activity,Value,ISO_Code
2547,2004,United States of America,840,Total manufacturing,4.306647e+12,USA
1148,2004,Japan,392,Total manufacturing,2.624145e+12,JPN
424,2004,China,156,Total manufacturing,2.243090e+12,CHN
893,2004,Germany,276,Total manufacturing,1.753735e+12,DEU
846,2004,France,250,Total manufacturing,1.065398e+12,FRA
1125,2004,Italy,380,Total manufacturing,1.032121e+12,ITA
2504,2004,United Kingdom,826,Total manufacturing,7.827346e+11,GBR
1983,2004,Republic of Korea,410,Total manufacturing,6.934382e+11,KOR
2239,2004,Spain,724,Total manufacturing,5.310057e+11,ESP
394,2004,Canada,124,Total manufacturing,4.486510e+11,CAN
305,2004,Brazil,76,Total manufacturing,3.695244e+11,BRA
993,2004,India,356,Total manufacturing,3.576202e+11,IND
2052,2004,Russian Federation,643,Total manufacturing,2.854679e+11,RUS
218,2004,Belgium,56,Total manufacturing,5.055104e+11,BEL
108,2004,Australia,36,Total manufacturing,2.356209e+11,AUS
1502,2004,Mexico,484,Total manufacturing,2.242546e+11,MEX
2311,2004,Sweden,752,Total manufacturing,2.016133e+11,SWE
2433,2004,TÃ¼rkiye,792,Total manufacturing,2.001565e+11,TUR
2334,2004,Switzerland,756,Total manufacturing,1.735309e+11,CHE
2382,2004,Thailand,764,Total manufacturing,1.679359e+11,THA
1906,2004,Poland,616,Total manufacturing,1.665636e+11,POL
131,2004,Austria,40,Total manufacturing,1.460252e+11,AUT
1079,2004,Ireland,372,Total manufacturing,1.268881e+11,IRL
820,2004,Finland,246,Total manufacturing,1.197109e+11,FIN
1016,2004,Indonesia,360,Total manufacturing,1.102990e+11,IDN
664,2004,Denmark,208,Total manufacturing,8.858040e+10,DNK
1929,2004,Portugal,620,Total manufacturing,8.671501e+10,PRT
1741,2004,Norway,578,Total manufacturing,7.147635e+10,NOR
932,2004,Greece,300,Total manufacturing,5.458254e+10,GRC
516,2004,Colombia,170,Total manufacturing,3.808842e+10,COL

In [63]:
# Ensure the ISO_Code column is sorted based on the order in cntry_names
filtered_df['ISO_Code'] = pd.Categorical(filtered_df['ISO_Code'], categories=cntry_names, ordered=True)

# Sort the DataFrame by the ISO_Code column
sorted_df = filtered_df.sort_values(by='ISO_Code')

In [64]:
namesdf = pd.read_csv("top30-codes-names.csv")

In [65]:
sorted_df = sorted_df.merge(namesdf, how = "left", left_on = "ISO_Code", right_on = "Country code")

In [66]:
sorted_df.drop(columns = ["Country code"], inplace = True)

In [67]:
# Display the sorted DataFrame
sorted_df.head(30)

sorted_df.reset_index(drop=True, inplace=True)

sorted_df.to_csv("./UNIDO-data/UNIDO-grossoutput-data-" + str(year) + ".csv", index=False)